body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  margin: 0;
}

.header {
  background-color: #1F2937;
  padding: 16px 192px;
  display: flex;
  justify-content: space-between;
  flex: none;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #F9FAF8;
}

.header a { 
  text-decoration: none;
  font-weight: 200;
  font-size: 18px;
  color: #E5E7EB;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.hero {
  background-color: #1F2937;
  color: #F9FAF8;
  flex: 1;
  display: flex;
  padding: 96px 192px;
  gap: 24px;
}

.hero-text {
  flex: 1;
}

.hero-text h2 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero-text p {
  font-size: 18px;
  color: #E5E7EB;
  font-weight: 200;
  margin: 8px 0;
}

.hero img {
  flex: 1;
  height: 300px;
  object-fit: cover;
}

.hero-text button {
  color: #E5E7EB;
  background-color: #3882F6;
  padding: 8px 32px;
  border-radius: 8px;
  border: none;
}

.card-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 192px;
}

.card-container h3 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 100;
  /* margin: 0; */
}

.cards {
  display: flex;
  gap: 48px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.testimonial {
  flex: 1;
  background: #E5E7EB;
  display: flex;
  padding: 120px 192px;
  flex-direction: column;
  color: #1F2937;
}

.testimonial .quote {
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
  margin: 0;
}

.testimonial .byline {
  align-self: end;
  margin: 0;
}

.cta-container {
  flex: 1;
  padding: 120px 196px;
}

.cta {
  background-color: #3882F6;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 48px 96px;
  /* gap: 96px; */
}

.button-container {
  display: flex;
  align-items: center;
}

.cta button {
  color: #E5E7EB;
  border: 1px solid #E5E7EB;
  padding: 8px 32px;
  border-radius: 8px;
  background-color: transparent;
}

.cta-text {
  color: #F9FAF8;
}

.cta-text h3 {
  font-size: 18px;
  margin: 0;
}

.cta-text p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}



footer {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
  font-weight: 200;
  font-size: 16px;
  padding: 24px 196px;
}