
@font-face {
  font-family: "CrunchyCroissantRfl";
  src: 
    url("fonts/CrunchyCroissantRfl.woff"),
    url("fonts/CrunchyCroissantRfl.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Bold";
  src: 
    url("fonts/Helvetica-Bold.woff"),
    url("fonts/Helvetica-Bold.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
  font-family: "CrunchyCroissantRfl";
}

h2 {
  font-size: 2.4rem;
  font-family: "CrunchyCroissantRfl";
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-family: "Helvetica-Bold";
}