@import url("./reset.css");

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  height: 100vh;
}


.left-sidebar {
  background-color:#1992D4;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 56px;
  padding: 24px;

  li {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
}

.logo {
  display: flex;
  font-size: 36px;
}

.logo > .icon {
  height: 36px;
  width: 36px;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

.left-sidebar .icon {
  filter: invert(100%);
}

.sidebar-content ul,
.sidebar-settings ul {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

/* .content {
  
} */

.nav {
  box-shadow: 12px 0px 10px rgba(0, 0, 0, 0.341);
  z-index: 2;
  padding: 24px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-upper {
  display: grid;
  grid-template-columns: 80% 1fr 1fr 2fr;
  align-items: center;
}


.searchbar {
  display: flex;
  align-items: center;

  input {
    width: 80%;
    height: 30px;
    border-radius: 24px;
    border: none;
    background-color: #E2E8F0;
  }
}

.nav-name {
  display: flex;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 12px;
    font-weight: bold;
  }
  
  div p:nth-of-type(2) {
    font-size: 24px;
  }
}

.nav-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btns {
  display: flex;
  column-gap: 24px;
}

.nav-btns button {
  border: none;
  padding: 10px 24px;
  height: 40px;
  width: 120px;
  background-color: #1992D4;
  color: white;
  border-radius: 30px;
  font-size: 16px;
}

.content {
  display: grid;
  grid-template-rows: 200px auto;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  
  padding: 48px 36px 96px 36px;
  column-gap: 24px;
  background-color: #E2E8F0;
}

.projects-container {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 8px;

  h3 {
    font-size: 24px;
    font-weight: bold;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

.project {
  display: grid;
  padding: 24px;
  background-color: white;
  border-left: 8px solid #F0B42A;
  row-gap: 12px;
  border-radius: 8px;

    
  h4 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
    color: #797979;
  }
}

.project-icons {
  align-self: end;
  justify-self: end;
}

.right-sidebar {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 48px;
}

.pfp-large {
  height: 80px;
  width: 80px;
}

.pfp-small {
  height: 60px;
  width: 60px;
}

.pfp-large,
.pfp-small {
  object-fit: cover;
  border-radius: 50%;
}


.announcements-container {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: auto 1fr;
  

  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
}

.announcements-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 24px 36px;

  hr {
    width: 100%;
    border-top: 1px solid #D3D3D3;
  }
}

.announcement-item {
  display: grid;
  padding: 16px 0;
  row-gap: 8px;

  h4 {
    font-weight: bold;
  }

  p {
    color: #797979;
  }
}

.trending-container {
  display: grid;
  grid-template-rows: auto 1fr;

  h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
}

.trending-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 36px;
  row-gap: 36px;
}

.trending-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}

.trending-item img {
  grid-row: 1/3;
  margin-right: 16px;
}

.trending-item p:last-of-type {
  color: #797979;
}