@import url("./reset.css");

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}


.left-sidebar {
  background-color: rgb(87, 178, 242);
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 56px;
  /* display: grid;
  grid-template-rows: 100px 1fr 1fr; */
  padding: 24px;

  li {
    display: flex;
    align-items: center;
  }
}

.logo {
  display: flex;
  font-size: 36px;
}

.logo > .icon {
  height: 36px;
  width: 36px;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

.left-sidebar .icon {
  filter: invert(100%);
}

.sidebar-content ul,
.sidebar-settings ul {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}