@import url("./reset.css");

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  height: 100vh;
}


.left-sidebar {
  background-color:#1992D4;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 56px;
  padding: 24px;

  li {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
}

.logo {
  display: flex;
  font-size: 36px;
}

.logo > .icon {
  height: 36px;
  width: 36px;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

.left-sidebar .icon {
  filter: invert(100%);
}

.sidebar-content ul,
.sidebar-settings ul {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

/* .content {
  
} */

.nav {
  box-shadow: 12px 0px 10px rgba(0, 0, 0, 0.341);
  z-index: 2;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-upper {
  display: grid;
  grid-template-columns: 80% 1fr 1fr 2fr;
  align-items: center;
}


.searchbar {
  display: flex;
  align-items: center;

  input {
    width: 80%;
    height: 30px;
    border-radius: 24px;
    border: none;
    background-color: #E2E8F0;
  }
}

.nav-name {
  display: flex;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 12px;
    font-weight: bold;
  }
}

.nav-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btns {
  display: flex;
  column-gap: 24px;
}

.nav-btns button {
  border: none;
  padding: 10px 24px;
  width: 100px;
  background-color: #1992D4;
  color: white;
  border-radius: 20px;
}

.content {
  display: grid;
  grid-template-rows: 200px auto;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  
  padding: 24px 24px 96px 24px;
  column-gap: 24px;
  background-color: #E2E8F0;
}

.projects-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  h3 {
    font-size: 24px;
    font-weight: bold;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  height: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: white;
  border-left: 8px solid #F0B42A;
  row-gap: 12px;
  border-radius: 8px;

    
  h4 {
    font-size: 24px;
  }

  p {

  }
}

.project-icons {
  align-self: flex-end;
}

.right-sidebar {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.pfp-large {
  height: 80px;
  width: 80px;

}

.pfp-small {
  height: 50px;
  width: 50px;
}

.pfp-large,
.pfp-small {
  object-fit: cover;
  border-radius: 50%;
}
