@import url("reset.css");

@font-face {
  font-family: "Norse";
  src: 
    url("fonts/Norse.woff") format("woff"),
    url("fonts/Norse.woff2") format("woff2");
}

@font-face {
  font-family: "Norse-bold";
  src:
    url("fonts/Norse-Bold.woff") format("woff"),
    url("fonts/Norse-Bold.woff2") format("woff2");
}


.main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr;
}

.left-panel {
  background-image: url("assets/background.jpg");
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.logo-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.300);
  justify-content: center;
  align-items: center;
  padding: 0;
  grid-row: 1;
  align-self: end;

  img {
    height: 150px;
    width: auto;
    margin: 12px 24px;
  }

  h1 {
    font-family: "Norse-Bold";
    color: white;
    font-size: 6rem;
  }

}
.photo-credit {
  grid-row: 3;
  align-self: end;
  justify-self: center;
  margin: 24px;
  p, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
  }
}


.right-panel {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.right-panel > div:nth-child(odd) {
  background-color: rgb(240, 240, 240);
  padding-left: 48px;
  padding-right: 148px;
}

.right-panel .form-container {
  padding-left: 48px;
  padding-right: 148px;
}

.form-text {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 36px;
  align-items: center;
}

.form-text em {
  font-style: italic;
}

.form-text p:first-of-type {
  grid-row: 2;
}
.form-text p:last-of-type {
  grid-row: 3;
}

.form-container {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.form-container p {
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
  font-size: 24px;
}

form {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  row-gap: 24px;
  column-gap: 48px;
}

form div {
  display: flex;
  flex-direction: column;
}

form div:nth-of-type(odd) {
  grid-column: 1;
}
form div:nth-of-type(even) {
  grid-column: 2;
}

form label {
  font-size: 14px;
  color: rgb(94, 94, 94);
  text-transform: uppercase;
  margin-bottom: 4px;
}

form input {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 12px 8px;
}

.form-btns .btn { 
  background-color: #596D48;
  color: white;
  padding: 12px 52px;
  box-shadow: 1px 1px 8px #888888;
  border: none;
  border-radius: 4px;
  margin: 24px 0;
}

.form-btns {
  font-family: Arial, Helvetica, sans-serif;

  p {
    margin: 24px 0;
  }

  a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
  }
}

#password:invalid,
#confirm_password:invalid {
  border: 1px solid red;
}