body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  /* background: rgb(41, 41, 41); */
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  margin: 8px;
}

.grid-size-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.grid-size-container > .btn {
  height: auto;
}

.btn {
  background-color: #ffffff;
  border: 1px solid black;
  box-shadow: none;
  padding: 8px;
  border-radius: 4px;
}

.selected-btn, .selected-grid-size {
  background-color: #e1d7e8;
}

.palette-container {
  margin: 16px;
}

.btn-container {
  margin: 8px 0 16px 0;
}

#grid-container {
  border: 1px solid rgb(29, 29, 29);
  border-radius: 8px;
  background-color: white;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  height: 960px;
  width: 960px;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.square {
  /* border: 1px solid pink; */
  flex: 1;
  box-sizing: border-box;
}


.blue {
  background-color: blue;
}

.white {
  background-color: white;
  opacity: 1;
}

.palette-container {
  display: flex;
  height: 100px;
  width: min-content;
}

.swatch {
  height: 100px;
  width: 100px;
}


.blush {
  background-color: #FFE6E6;
}

.pink {
  background-color: #E1AFD1;
}

.purple {
  background-color: #AD88C6;
}

.twilight {
  background-color: #7469B6;
}