body {
  box-sizing: border-box;
  /* background: rgb(0, 0, 0); */
}


#grid-container {
  border: 1px solid black;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  height: 960px;
  width: 960px;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.square {
  /* border: 1px solid pink; */
  flex: 1;
  box-sizing: border-box;
}


.blue {
  background-color: blue;
}

.white {
  background-color: white;
  opacity: 1;
}

.palette-container {
  display: flex;
  height: 100px;
  width: min-content;
}

.swatch {
  height: 100px;
  width: 100px;
}


.blush {
  background-color: #FFE6E6;
}

.pink {
  background-color: #E1AFD1;
}

.purple {
  background-color: #AD88C6;
}

.twilight {
  background-color: #7469B6;
}