@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* solution */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.left-links,
.right-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.left-links a,
.right-links a {
  text-decoration: none;
  color: grey;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 16px 0;
}

button {
  padding: 8px 16px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  background-color: #eeeeee;
}